language: node_js
node_js: 8.5
sudo: required
addons:
  ssh_known_hosts: 139.129.132.196
cache:
  directories:
  - node_modules
install:
- npm install
after_success:
- ssh root@139.129.132.196 StrictHostKeyChecking=no 'cd /var/www/static/travis/ &&
  git pull && sh ./deploy.sh'
before_install:
- openssl aes-256-cbc -K $encrypted_509f0dcd4e62_key -iv $encrypted_509f0dcd4e62_iv
  -in id_rsa.enc -out ~\/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
